#video {
  width: 316px;
  height: 316px;
  margin: 60px auto 0;
  display: block;
}
.el-button--primary.is-active,
.el-button--primary,
.el-button--primary:active,
.el-button--primary:focus,
.el-button--primary:hover {
  background-color: #F26733;
  color: #ffffff;
  border-color: #F26733;
  margin-top: 25px;
}
.upload {
  margin-top: 40px;
  text-align: center;
}
.progressbox {
  width: 880px;
  height: 142px;
  background-color: #EFF3FB;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.txt {
  margin-bottom: 15px;
}
.try {
  margin-top: 10px;
  float: right;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.txt p {
  font-size: 24px;
  color: #191515;
  display: inline;
  font-weight: 500;
}
.try span:first-child {
  color: #598DD7;
  margin-right: 15px;
}
.progressline {
  margin-bottom: 15px;
}
.el-progress.is-success .el-progress-bar__inner {
  background-color: #588ED8;
}
.filename,
.filesize,
.filelong {
  display: inline-block;
  font-size: 16px;
}
.filesize {
  margin-left: 29px;
}
.filesize {
  margin-right: 29px;
}
.you {
  display: inline-block;
}
.again {
  display: inline-block;
}
.one {
  margin-top: 49px;
  margin-left: 50px;
  display: inline-block;
}
.one h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 35px;
}
.el-input__inner {
  width: 880px;
}
.el-form--label-top .el-form-item__label {
  font-size: 16px;
}
.show {
  width: 203px;
  height: 127px;
}
.el-form {
  padding-top: 35px;
  padding-bottom: 27px;
  border-top: #E2E2E2 2px solid;
  border-bottom: #E2E2E2 2px solid;
  margin-bottom: 60px;
}
