.main .logo-con {
  height: 100%;
  padding: 10px 0px 10px 0px;
}
.main .logo-con img {
  height: 64px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.main .header-con {
  background: #fff;
  padding: 0px 0px;
  width: 100%;
  position: fixed;
  z-index: 1001;
}
.main .main-layout-con {
  height: 100%;
  overflow: hidden;
  margin-left: 20px;
  background: #fff;
}
.main .main-content-con {
  height: 100%;
  overflow: hidden;
  margin-top: 64px;
}
.main .tag-nav-wrapper {
  padding: 0;
  height: 40px;
  background: #f0f0f0;
}
.main .content-fn {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  margin-top: 20px;
}
.main .content-wrapper {
  height: 100%;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
}
.main .left-sider {
  height: 600px;
  margin-top: 64px;
  background: #f5f7f9;
}
.main .email-margin {
  margin-right: 20px;
}
.ivu-menu-item > i {
  margin-right: 12px !important;
}
.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
  margin-right: 8px !important;
}
.collased-menu-dropdown {
  width: 100%;
  margin: 0;
  line-height: normal;
  padding: 7px 0 6px 16px;
  clear: both;
  font-size: 12px !important;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.collased-menu-dropdown:hover {
  background: rgba(100, 100, 100, 0.1);
}
.collased-menu-dropdown * {
  color: #515a6e;
}
.collased-menu-dropdown .ivu-menu-item > i {
  margin-right: 12px !important;
}
.collased-menu-dropdown .ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i {
  margin-right: 8px !important;
}
.ivu-select-dropdown.ivu-dropdown-transfer {
  max-height: 400px;
}
.ivu-menu-item {
  display: block;
  outline: none;
  list-style: none;
  font-size: 16px !important;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.01s ease-in-out;
  transition: all 0.01s ease-in-out;
}
#cardone {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
