.pgc-checkout-center {
  position: relative;
}
.pgc-checkout-center .guide-link {
  text-decoration: none;
  position: absolute;
  font-size: 14px;
  top: 32px;
  right: 40px;
}
.pgc-checkout-center .tui-tabs .tui-tab-panel {
  padding: 20px 40px;
}
.pgc-checkout-center .checkout-btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin: 10px auto;
}
.pgc-checkout-center .checkout-btn-group .checkout-btn {
  font-size: 14px;
  cursor: pointer;
  color: #5990f2;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pgc-checkout-center .pgc-checkout-table-info {
  text-align: right;
  color: #999;
  font-size: 14px;
  line-height: 3;
}
.pgc-checkout-center .pgc-checkout-center-dashboard {
  margin-bottom: 20px;
}
.pgc-checkout-center .pgc-checkout-center-dashboard .pgc-dashboard {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pgc-checkout-center .pgc-checkout-center-dashboard .pgc-dashboard .pgc-dashboard-column:not(:last-child) {
  border: 0;
}
.pgc-checkout-center .pgc-checkout-center-dashboard .pgc-dashboard-secondary {
  height: auto;
}
.pgc-checkout-center .pgc-checkout-center-dashboard .pgc-dashboard-primary {
  margin-bottom: 0;
}
.pgc-checkout-center .pgc-checkout-center-dashboard .pgc-dashboard-primary:after {
  content: "\5143";
  font-size: 15px;
  margin-left: 3px;
}
.pgc-checkout-center .pgc-checkout-dialog .dialog {
  width: 600px;
  top: 50px;
}
.pgc-checkout-center .pgc-checkout-dialog.narrow .dialog {
  width: 490px;
}
.pgc-checkout-center .pgc-checkout-dialog.wide .dialog {
  width: 800px;
}
.pgc-checkout-center .pgc-checkout-dialog .dialog-body {
  margin-bottom: 0;
  max-height: none;
}
.pgc-checkout-center .pgc-checkout-dialog-content {
  font-size: 14px;
  color: #333;
}
.pgc-checkout-center .pgc-checkout-dialog-content .checkout-table {
  margin-bottom: 20px;
}
.pgc-checkout-center .pgc-checkout-dialog-content .checkout-table-title {
  padding-top: 5px;
  line-height: 3;
  font-size: 16px;
}
.pgc-checkout-center .pgc-checkout-dialog-content .print-content {
  position: absolute;
  bottom: 20px;
  right: 160px;
  color: #406599;
  font-size: 16px;
  cursor: pointer;
}
.pgc-checkout-center .pgc-checkout-dialog-content .detail-content {
  border: 1px solid #e8e8e8;
  background-color: #fafafa;
  width: 449px;
  margin: 0 auto 20px;
  position: relative;
}
.pgc-checkout-center .pgc-checkout-dialog-content .detail-content:after {
  content: " ";
  height: 10px;
  width: 80%;
  position: absolute;
  margin-top: -1px;
  background: -webkit-linear-gradient(315deg, #fafafa 25%, transparent 0) -8px 0, -webkit-linear-gradient(225deg, #fafafa 25%, transparent 0) -8px 0, -webkit-linear-gradient(135deg, #fff 46%, transparent 0), -webkit-linear-gradient(45deg, #fff 46%, transparent 0);
  background: -moz- oldlinear-gradient(315deg, #fafafa 25%, transparent 0) -8px 0, -moz- oldlinear-gradient(225deg, #fafafa 25%, transparent 0) -8px 0, -moz- oldlinear-gradient(135deg, #fff 46%, transparent 0), -moz- oldlinear-gradient(45deg, #fff 46%, transparent 0);
  background: linear-gradient(135deg, #fafafa 25%, transparent 0) -8px 0, linear-gradient(225deg, #fafafa 25%, transparent 0) -8px 0, linear-gradient(315deg, #fff 46%, transparent 0), linear-gradient(45deg, #fff 46%, transparent 0);
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  background-color: #e8e8e8;
}
.pgc-checkout-center .pgc-checkout-dialog-content .detail-content.has-table {
  width: 417px;
}
.pgc-checkout-center .pgc-checkout-dialog-content .detail-content table {
  width: 100%;
  margin: 10px 0;
}
.pgc-checkout-center .pgc-checkout-dialog-content .detail-content table tr {
  line-height: 2.5;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-items-title {
  text-align: center;
  font-size: 16px;
  line-height: 3;
  border-bottom: 1px solid #e8e8e8;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-items {
  margin: 20px 24px 0;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-items .pgc-checkout-title {
  width: 100px;
  color: #333;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-items + .pgc-checkout-items-title {
  border-top: 1px solid #e8e8e8;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-basic-title {
  border-bottom: 1px dashed #d8d8d8;
}
.pgc-checkout-center .pgc-checkout-dialog-content .pgc-checkout-table-label {
  color: #999;
}
.pgc-checkout-center .pgc-checkout-dialog-content .item-value {
  text-align: right;
  color: #555;
}
.pgc-checkout-center .pgc-checkout-dialog-content .checkout-hint {
  color: #555;
  font-size: 13px;
}
.pgc-checkout-center .pgc-checkout-dialog-content .checkout-hint p {
  margin-bottom: 5px;
}
.pgc-checkout-setting {
  font-size: 14px;
}
.pgc-checkout-setting .data-info {
  position: relative;
}
.pgc-checkout-setting .data-info .go-edit {
  cursor: pointer;
  font-size: inherit;
  position: absolute;
  top: 18px;
  right: 20px;
}
.pgc-checkout-setting .data-info .go-edit.disabled {
  cursor: default;
  color: #999;
}
.pgc-checkout-setting .info-box {
  border: 1px solid #e8e8e8;
  padding: 5px 20px 3px;
}
.pgc-checkout-setting .info-box .info-row {
  padding: 11px 0;
}
.pgc-checkout-setting .info-box .info-title {
  color: #999;
}
.pgc-checkout-setting .info-box .invoice-status {
  cursor: pointer;
  color: #406599;
}
.pgc-checkout-setting .info-box .info-invoice a {
  display: block;
  margin-top: -20px;
  width: 100%;
}
.pgc-checkout-setting .info-box .info-invoice a:active,
.pgc-checkout-setting .info-box .info-invoice a:hover {
  opacity: 1;
}
.pgc-checkout-setting .info-box .info-invoice img {
  display: block;
  width: 100%;
}
.pgc-checkout-setting .checkout-title {
  font-size: 16px;
  line-height: 3;
  margin-top: 10px;
}
.pgc-checkout-setting .checkout-title .pgc-hover-popup {
  line-height: 1;
}
.pgc-checkout-setting .edit-data-form {
  display: inline-block;
  width: 52%;
  padding: 0 3% 0 15px;
  border-right: 1px solid #e8e8e8;
}
.pgc-checkout-setting .edit-data-form .tui-form-item-label label {
  font-size: 14px;
}
.pgc-checkout-setting .edit-demo {
  display: inline-block;
  width: 90%;
  float: right;
}
.pgc-checkout-setting .edit-demo .info-box {
  margin-bottom: 10px;
  padding: 10px 15px;
}
.pgc-checkout-setting .edit-demo .info-box .info-row {
  padding: 5px 0;
}
.pgc-checkout-setting .edit-demo .checkout-title {
  margin-top: 0;
}
.pgc-checkout-setting .demo-hint {
  list-style: disc;
  padding: 5px 15px;
}
.pgc-checkout-setting .demo-hint li:not(:last-child) {
  margin-bottom: 10px;
}
.pgc-checkout-setting .extra-info {
  color: #999;
  margin-bottom: 10px;
}
.pgc-checkout-center-tip {
  width: 200px;
}
@media print {
  .pgc-checkout-center .pgc-checkout-center-dashboard,
  .pgc-checkout-center .pgc-checkout-table-info,
  .pgc-checkout-center .pgc-title,
  .pgc-checkout-center .tui-table-container {
    display: none;
  }
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog {
    width: 950px;
  }
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-body {
    max-height: none;
  }
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-body .pgc-checkout-dialog-content {
    font-size: 20px;
  }
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-body .pgc-checkout-dialog-content .detail-content {
    width: 100%;
  }
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-body .pgc-checkout-dialog-content tr {
    line-height: 40px;
  }
  .header,
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-body .pgc-checkout-dialog-content .print-content,
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-footer,
  .pgc-checkout-center .pgc-dialog.pgc-checkout-dialog .dialog .dialog-header .close,
  .pgc-feedback,
  .pgc-footer,
  .pgc-menu {
    display: none;
  }
  @page {
    size: auto;
    margin: 0;
  }
  html {
    background-color: #fff;
    margin: 0;
  }
  body {
    margin: 10mm 15mm;
  }
}
.supplement-dialog .title {
  text-align: center;
}
.supplement-dialog .tips {
  text-align: left;
  color: #f85959;
}
.supplement-dialog .dialog-footer {
  height: 0;
}
.pgc-location-item {
  height: 38px;
}
.pgc-location-item .location-select {
  display: inline-block;
  width: 128px;
  margin-right: 20px;
}
